Source/Workflows/CreateActivityAttendancerecordsfornewAttendees-0721DA05-E55E-EE11-BE6F-000D3A314D17.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mshack_sharedcommondataserviceforapps_11fd8"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_contact_is_created": {
          "metadata": {
            "operationMetadataId": "deedae2f-568c-414e-89b9-c26ade3b4d6b"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "contact",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "List_Participant_Hack_Activities": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "b3caae90-181d-4c9a-a6c7-bc62a460e65d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "mshack_hackactivitieses",
              "$filter": "mshack_type eq 808570000 and statuscode eq 1"
            },
            "authentication": "@parameters('$authentication')"
          },
          "description": "Type = Participant and Status Code = Active (not draft)"
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_Participant_Hack_Activities')?['body/value']",
          "actions": {
            "Create_Activity_Attendance_records": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "7302623f-5eca-4180-b8ff-45f0634605fc"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mshack_activityattendances",
                  "item/mshack_name": "@triggerOutputs()?['body/fullname']",
                  "item/mshack_AttendeeContactId@odata.bind": "contacts(@{triggerOutputs()?['body/contactid']})",
                  "item/mshack_HackActivityId@odata.bind": "mshack_hackactivitieses(@{items('Apply_to_each')?['mshack_hackactivitiesid']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "List_Participant_Hack_Activities": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e43f3e3d-35aa-4b4b-9ce1-652be4421dfa"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}