Source/Workflows/Hack-TriggerSetCoachName-Manual-7FD9FBA2-9788-EE11-8179-000D3A1BA0D6.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mshack_sharedcommondataserviceforapps_11fd8"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "e522a732-cfc6-4886-9dce-4583c995fc4c"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Filter query",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "e24a59a0-e71c-4129-990e-32620da13ecb"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "mshack_coachs",
              "$filter": "@triggerBody()['text']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps_1"
            }
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "Call_Set_Coach_Name_child_flow": {
              "metadata": {
                "operationMetadataId": "9efce223-4a04-41d5-aac1-999e6b2ad10b"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "83e2d044-8088-ee11-8179-000d3a1c017f"
                },
                "body": {
                  "text": "@items('Apply_to_each')?['mshack_coachid']",
                  "text_1": "@items('Apply_to_each')?['emailaddress']"
                }
              }
            },
            "Run_a_Child_Flow": {
              "runAfter": {
                "Call_Set_Coach_Name_child_flow": [
                  "Succeeded"
                ]
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "e4f2478e-65a3-ef11-8a6a-7c1e521c7fab"
                },
                "body": {
                  "text": "@body('Call_Set_Coach_Name_child_flow')?['firstname']",
                  "text_1": "@body('Call_Set_Coach_Name_child_flow')?['lastname']",
                  "text_2": "@body('Call_Set_Coach_Name_child_flow')?['dveventid']",
                  "text_3": "@items('Apply_to_each')?['emailaddress']",
                  "text_4": "@item()?['mshack_coachid']"
                }
              }
            }
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dce1190c-b7c9-40cf-a6c9-122409645c8b"
          },
          "type": "Foreach"
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}