Source/Workflows/Hack-AssociateNewTeamtoCurrentHackEvent-4518F7BC-0FD5-EE11-9079-000D3A1BA0D6.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mshack_sharedcommondataserviceforapps_11fd8"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_Hack_Team_record_is_added": {
          "metadata": {
            "operationMetadataId": "19738d32-ff60-48b3-a9ab-2c12925a254d"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "mshack_hackteam",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_Current_Hack_Event": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "6c1f67cb-b50f-4ea3-934f-c2d76d56c946"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "mshack_hackevents",
              "$filter": "mshack_iscurrent eq true",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Current_Hack_Event_ID": {
          "runAfter": {
            "Get_Current_Hack_Event": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6b9e9c53-5305-413c-9a3c-6b132a9029ff"
          },
          "type": "Compose",
          "inputs": "@First(outputs('Get_Current_Hack_Event')?['body/value'])['mshack_hackeventid']"
        },
        "Set_Hack_Event_on_Hack_Team_record": {
          "runAfter": {
            "Current_Hack_Event_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b40b7882-29f4-4932-a9f0-c8e91b9f1c58"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "mshack_hackteams",
              "recordId": "@triggerOutputs()?['body/mshack_hackteamid']",
              "item/mshack_HackEvent@odata.bind": "mshack_hackevents\\@{outputs('Current_Hack_Event_ID')}"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}