Source/Workflows/SetCoachNametoEmail-4D5E0EC8-1283-EE11-8179-000D3A190BDF.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mshack_sharedcommondataserviceforapps_11fd8"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_Coach_is_added_or_changed,_on_emailaddress": {
          "metadata": {
            "operationMetadataId": "3ae7d6d2-cbdc-488a-a066-99b7e49be79f"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "mshack_coach",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "emailaddress"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Copy_the_Email_to_the_Name": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f12c41b7-3511-416b-8ea4-d1f562b05422"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mshack_coachs",
                  "recordId": "@triggerOutputs()?['body/mshack_coachid']",
                  "item/mshack_name": "@triggerOutputs()?['body/emailaddress']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "else": {
            "actions": {
              "Terminate": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "3b43c625-371f-46e1-9919-8fb9ea151b8b"
                },
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Cancelled"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/mshack_name']",
              null
            ]
          },
          "metadata": {
            "operationMetadataId": "461eb2bb-174b-4f1e-8615-356ea397bee9"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}