Source/Workflows/SetCoachNamefromGraphAPI-CHILD-83E2D044-8088-EE11-8179-000D3A1C017F.json
{
  "properties": {
    "connectionReferences": {
      "shared_office365users_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mshack_sharedoffice365users_61bd2"
        },
        "api": {
          "name": "shared_office365users"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mshack_sharedcommondataserviceforapps_11fd8"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "d302f2a2-e243-4360-95ce-46c68014476a"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "CoachGUID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "email",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Get_user_profile_(V2)": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "bd19d070-e57d-49fb-b55c-2d38af47796e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365users_1",
              "operationId": "UserProfile_V2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
            },
            "parameters": {
              "id": "@triggerBody()['text_1']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {
            "Get_System_User": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "44ab013c-7651-43ff-9f82-717544c2b97f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "$filter": "domainname eq '@{outputs('Get_user_profile_(V2)')?['body/userPrincipalName']}'",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each": {
              "foreach": "@outputs('Get_System_User')?['body/value']",
              "actions": {
                "Update_Coach_record": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "ac6abf90-a4c4-4fa3-b159-a32b7574b957"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "mshack_coachs",
                      "recordId": "@triggerBody()['text']",
                      "item/mshack_name": "@outputs('Get_user_profile_(V2)')?['body/displayName']",
                      "item/mshack_SystemUserId@odata.bind": "systemusers/@{items('Apply_to_each')?['systemuserid']}"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Get_System_User": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "fa577fa5-65fd-4843-aae0-cccbaa2e6f5c"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Get_user_profile_(V2)": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Terminate": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "67e013f1-0eae-442d-b65c-2c6b689f7780"
                },
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Failed",
                  "runError": {
                    "message": "User not found"
                  }
                }
              }
            }
          },
          "expression": {
            "not": {
              "equals": [
                "@outputs('Get_user_profile_(V2)')?['body/displayName']",
                null
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "ee56da9c-e118-4d83-a088-810d64a9e684"
          },
          "type": "If"
        },
        "Response": {
          "runAfter": {
            "Condition": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ac99af70-7122-4b7c-8880-55e428efad9e"
          },
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}