Source/Workflows/SetSystemUserfromEmailAddress-Coaches-D7CBBE41-FECC-EE11-9079-000D3A190BDF.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mshack_sharedcommondataserviceforapps_8d05c"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "4a685928-89e9-4b03-af10-8c14939e4064"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "mshack_coach",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "emailaddress"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Compose": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "db9ff6c1-db02-4926-b113-f337783bdb8f"
          },
          "type": "Compose",
          "inputs": "EmailAddress: @{triggerOutputs()?['body/emailaddress']}\nAAD User(Table Name): @{triggerOutputs()?['body/_mshack_aaduserid_type']} \nAAD User (Value): @{triggerOutputs()?['body/_mshack_aaduserid_value']}"
        },
        "List_rows": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3b79471d-34d4-481c-9abf-9a4dbe383a27"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords"
            },
            "parameters": {
              "entityName": "systemusers",
              "$select": "internalemailaddress, systemuserid",
              "fetchXml": "<fetch>\n  <entity name=\"systemuser\">\n    <attribute name=\"internalemailaddress\" />\n    <attribute name=\"systemuserid\" />\n    <filter>\n      <condition attribute=\"internalemailaddress\" operator=\"eq\" value=\"@{triggerOutputs()?['body/emailaddress']}\" />\n    </filter>\n  </entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "Update_a_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ce5f66ef-2297-460d-b7e1-f0bc05d30b8e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord"
                },
                "parameters": {
                  "entityName": "mshack_coachs",
                  "recordId": "@triggerOutputs()?['body/mshack_coachid']",
                  "item/mshack_SystemUserId@odata.bind": "systemusers(@{items('Apply_to_each')?['systemuserid']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ba81065f-a586-4aed-b11a-b960544a1f2b"
          },
          "type": "Foreach"
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}